@typeparam TEnum where TEnum : struct, Enum

@if (_metadata != null)
{
    <span class="@GetBadgeClass()" 
          title="@_metadata.Tooltip" 
          data-bs-toggle="@(string.IsNullOrEmpty(_metadata.Tooltip) ? "" : "tooltip")">
        
        @if (!string.IsNullOrEmpty(_metadata.Icon))
        {
            <i class="@_metadata.Icon me-1"></i>
        }

        @if (ChildContent != null)
        {
            @ChildContent
        }
        else
        {
            @(_metadata.Text ?? Status.ToString())
        }
    </span>
}
