@using LHA.BlazorWasm.Components.Tooltip
@typeparam TEnum where TEnum : struct, Enum

@if (_metadata != null)
{
    @if (!string.IsNullOrEmpty(_metadata.Tooltip))
    {
        <Tooltip Text="@L($"{_metadata.Tooltip}")">
            <span class="@GetBadgeClass()" style="@Style">
                @if (!string.IsNullOrEmpty(_metadata.Icon))
                {
                    <i class="@_metadata.Icon me-1"></i>
                }

                @if (ChildContent != null)
                {
                    @ChildContent
                }
                else
                {
                    @(_metadata.Text ?? Status.ToString())
                }
            </span>
        </Tooltip>
    }
    else
    {
        <span class="@GetBadgeClass()" style="@Style">
            @if (!string.IsNullOrEmpty(_metadata.Icon))
            {
                <i class="@_metadata.Icon me-1"></i>
            }

            @if (ChildContent != null)
            {
                @ChildContent
            }
            else
            {
                @(_metadata.Text ?? Status.ToString())
            }
        </span>
    }
}
