@namespace LHA.BlazorWasm.Components.Tooltip

<div class="@WrapperClass"
     @onmouseenter="OnMouseEnter"
     @onmouseleave="OnMouseLeave"
     @onfocusin="OnFocusIn"
     @onfocusout="OnFocusOut"
     @onclick="OnClick"
     style="@Style">

    <div @ref="_triggerRef" class="tooltip-trigger" aria-describedby="@(_isVisible ? _tooltipId : null)">
        @ChildContent
    </div>

    <div @ref="_tooltipRef" class="@TooltipClass @(_isVisible ? "visible" : "")" role="tooltip" id="@_tooltipId" aria-hidden="@(!_isVisible)">
        <div class="lha-tooltip-inner">
            @if (TooltipContent != null)
            {
                @TooltipContent
            }
            else
            {
                <span class="lha-tooltip-text">@Text</span>
            }
        </div>
        <div class="lha-tooltip-arrow"></div>
    </div>
</div>
