@namespace LHA.BlazorWasm.Components.Pickers.TimeRangePicker
@using LHA.BlazorWasm.Components.Pickers.Core
@typeparam TInner
@inherits PickerBase<DateRange<TInner>>

<div class="picker-wrapper @Class" style="@Style" @onfocusout="OnFocusOut" @onmousedown="HandleInternalMouseDown">
    
    <div class="picker-input-container @(State.IsOpen ? "active" : "") @(Disabled ? "disabled" : "") @ValidationClass"
         @onclick="TogglePopup">
        <input type="text" class="picker-input" placeholder="@EffectivePlaceholder" value="@FormattedValue" readonly
               disabled="@Disabled" />
               
        <div class="picker-icon">
            <i class="fas fa-clock"></i>
        </div>
        
        @if (ShowClear && Value.HasStart && !Disabled && !ReadOnly)
        {
            <button type="button" class="picker-clear" @onclick="ClearAsync" @onclick:stopPropagation="true">
                <i class="fas fa-times-circle"></i>
            </button>
        }
    </div>

    <ValidationMessage Status="ValidationStatus" Message="@ValidationMessage" />

    <PickerPopup IsOpen="State.IsOpen">
        <div class="range-layout">
            <div class="time-panel">
                <div class="panel-title">@LocalizationService.L("Common.Start")</div>
                <TimeView State="StartState" Is24Hour="Is24Hour" OnInteraction="HandleTimeChanged" />
            </div>
            
            <div class="panel-divider"></div>
            
            <div class="time-panel">
                <div class="panel-title">@LocalizationService.L("Common.End")</div>
                <TimeView State="EndState" Is24Hour="Is24Hour" OnInteraction="HandleTimeChanged" />
            </div>
        </div>
        
        <div class="range-actions">
            <button type="button" class="btn-confirm" @onclick="ConfirmSelection">
                @ComputedConfirmText
            </button>
        </div>
    </PickerPopup>
</div>
