@namespace LHA.BlazorWasm.Components.Pickers.DateTimePicker
@using LHA.BlazorWasm.Components.Pickers.Core
@typeparam TValue
@inherits PickerBase<TValue>

<div class="picker-wrapper @Class" style="@Style" @onfocusout="OnFocusOut" @onmousedown="HandleInternalMouseDown">
    
    <div class="picker-input-container @(State.IsOpen ? "active" : "") @(Disabled ? "disabled" : "") @ValidationClass"
         @onclick="TogglePopup">
        <input type="text" class="picker-input" placeholder="@Placeholder" value="@FormattedValue" readonly
               disabled="@Disabled" />
               
        <div class="picker-icon">
            <i class="fas fa-calendar-alt"></i>
        </div>
        
        @if (ShowClear && Value != null && !Disabled && !ReadOnly)
        {
            <button type="button" class="picker-clear" @onclick="ClearAsync" @onclick:stopPropagation="true">
                <i class="fas fa-times-circle"></i>
            </button>
        }
    </div>

    <ValidationMessage Status="ValidationStatus" Message="@ValidationMessage" />

    <PickerPopup IsOpen="State.IsOpen">
        <div class="datetime-layout">
            <div class="datetime-calendar">
                <CalendarView State="State" SelectedDate="_internalValue" OnDateSelected="HandleDateSelected" />
            </div>
            
            <div class="datetime-divider"></div>
            
            <div class="datetime-time">
                <TimeView State="State" Is24Hour="Is24Hour" OnInteraction="HandleTimeChanged" />
                
                <button type="button" class="btn-confirm" @onclick="ConfirmSelection">
                    @ConfirmText
                </button>
            </div>
        </div>
    </PickerPopup>
</div>
