@using Microsoft.AspNetCore.Components.Forms
@using System.Diagnostics.CodeAnalysis
@using System.Globalization
@typeparam TValue
@inherits InputBase<TValue>

<div class="lha-input-container @GetContainerClasses() @Class" style="@Style">
    <div
        class="lha-input-wrapper @(_isFocused ? "is-focused" : string.Empty) @(_hasValue ? "has-value" : string.Empty) @(EffectiveValidationStatus != CInputValidationStatus.None ? $"status-{EffectiveValidationStatus.ToString().ToLower()}" : string.Empty)">

        @if (PrefixContent != null)
        {
            <div class="lha-input-prefix">@PrefixContent</div>
        }

        @if (IconLeft != null)
        {
            <div class="lha-input-icon lha-input-icon-left">
                @IconLeft
            </div>
        }

        <input @ref="_inputElement" @attributes="AdditionalAttributes" type="@_inputType" class="lha-input-field"
               placeholder="@Placeholder" value="@CurrentValueAsString" disabled="@Disabled" readonly="@ReadOnly"
               @oninput="HandleInput" @onfocus="HandleFocus" @onblur="HandleBlur" aria-label="@AriaLabel"
               aria-invalid="@(EffectiveValidationStatus == CInputValidationStatus.Error ? "true" : "false")" />

        <div class="lha-input-suffix-wrapper">
            @if (IsLoading)
            {
                <div class="lha-input-loader">
                    <div class="lha-spinner"></div>
                </div>
            }
            else
            {
                @if (Clearable && _hasValue && !Disabled && !ReadOnly)
                {
                    <button type="button" class="lha-input-clear-btn" @onclick="ClearValue" tabindex="-1">
                        <i class="bi bi-x-lg"></i>
                    </button>
                }

                @if (Type == "password" && ShowPasswordToggle)
                {
                    <button type="button" class="lha-input-password-toggle" @onclick="TogglePasswordVisibility" tabindex="-1">
                        @if (_showPassword)
                        {
                            <i class="bi bi-eye-slash"></i>
                        }
                        else
                        {
                            <i class="bi bi-eye"></i>
                        }
                    </button>
                }

                @if (IconRight != null)
                {
                    <div class="lha-input-icon lha-input-icon-right">
                        @IconRight
                    </div>
                }

                @if (SuffixContent != null)
                {
                    <div class="lha-input-suffix">@SuffixContent</div>
                }
            }
        </div>
    </div>
</div>