@namespace LHA.BlazorWasm.Components.RichTextEditor.Components

<div class="rte-dropdown-wrapper" @onclick:stopPropagation>
    @if (!string.IsNullOrEmpty(Tooltip))
    {
        <LHA.BlazorWasm.Components.Tooltip.Tooltip Text="@Tooltip" Style="display: inline-flex;">
            <Button Class="@GetButtonCssClass()"
                    Style="CButtonStyle.Link"
                    Disabled="@Disabled"
                    OnClick="ToggleDropdown">
                @if (!string.IsNullOrEmpty(SvgIcon))
                {
                    @((MarkupString)SvgIcon)
                }
                <i class="bi bi-chevron-down rte-dropdown-arrow"></i>
            </Button>
        </LHA.BlazorWasm.Components.Tooltip.Tooltip>
    }
    else
    {
        <Button Class="@GetButtonCssClass()"
                Style="CButtonStyle.Link"
                Disabled="@Disabled"
                OnClick="ToggleDropdown">
            @if (!string.IsNullOrEmpty(SvgIcon))
            {
                @((MarkupString)SvgIcon)
            }
            <i class="bi bi-chevron-down rte-dropdown-arrow"></i>
        </Button>
    }

    @if (IsOpen)
    {
        <div class="rte-dropdown-popup @(Alignment.ToString().ToLowerInvariant()) open" @onclick:stopPropagation>
            @ChildContent
        </div>
    }
</div>
