@namespace LHA.BlazorWasm.Components.RichTextEditor.Components

@if (!string.IsNullOrEmpty(Tooltip))
{
    <LHA.BlazorWasm.Components.Tooltip.Tooltip Text="@Tooltip" Style="display: inline-flex;">
        <Button Class="@GetCssClass()"
                Style="ButtonStyle.Link"
                Disabled="@Disabled"
                OnClick="HandleClick">
            @if (ChildContent != null)
            {
                @ChildContent
            }
            else if (!string.IsNullOrEmpty(SvgIcon))
            {
                @((MarkupString)SvgIcon)
            }
        </Button>
    </LHA.BlazorWasm.Components.Tooltip.Tooltip>
}
else
{
    <Button Class="@GetCssClass()"
            Style="ButtonStyle.Link"
            Disabled="@Disabled"
            OnClick="HandleClick">
        @if (ChildContent != null)
        {
            @ChildContent
        }
        else if (!string.IsNullOrEmpty(SvgIcon))
        {
            @((MarkupString)SvgIcon)
        }
    </Button>
}
