@namespace LHA.BlazorWasm.Components.Pickers.TimePicker
@using LHA.BlazorWasm.Components.Pickers.Core
@typeparam TValue
@inherits PickerBase<TValue>

<div class="picker-wrapper @Class" style="@Style" @onfocusout="OnFocusOut" @onmousedown="HandleInternalMouseDown">
    
    <div class="picker-input-container @(State.IsOpen ? "active" : "") @(Disabled ? "disabled" : "") @ValidationClass"
         @onclick="TogglePopup">
        <input type="text" class="picker-input" placeholder="@EffectivePlaceholder" value="@FormattedValue" readonly
               disabled="@Disabled" />
               
        <div class="picker-icon">
            <i class="fas fa-clock"></i>
        </div>
        
        @if (ShowClear && Value != null && !Disabled && !ReadOnly)
        {
            <button type="button" class="picker-clear" @onclick="ClearAsync" @onclick:stopPropagation="true">
                <i class="fas fa-times-circle"></i>
            </button>
        }
    </div>

    <ValidationMessage Status="ValidationStatus" Message="@ValidationMessage" />

    <PickerPopup IsOpen="State.IsOpen">
        <TimeView State="State" Is24Hour="Is24Hour" OnInteraction="HandleTimeChanged" />
    </PickerPopup>
</div>
